$siteBg: #222831;
$cardColor: #393e46;
$tableColor: #59886b;

//font
$fontColor: #eeeeee;
$fontSize: 10px;
$cardsFontFamily: "Potta One", cursive;
$contentFontFamily: "Yusei Magic", sans-serif;

//buttons
$buttonBg: #ffd369;
$buttonColor: #2e2d2c;

$shadow: 0 0 10px rgba(0, 0, 0, 0.2);
